<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update</title>
</head>
<body>
    <div class="row">
        <div class="col-md-6">
             <div class="card card-body">
                  <form action = "" method = "POST">
                       {% csrf_token %}
                       {{context.form.as_p}}
                       <input type="submit" name="Submit", value = "Update">
                  </form>
             </div>
        </div>
   </div>
</body>
</html>